[submodule "syringe"]
	path = syringe
	url = https://github.com/FrederickGeek8/syringe.git
	branch = macOS13
[submodule "xpwn"]
	path = xpwn
	url = https://github.com/FrederickGeek8/xpwn.git
	branch = macOS13
